<% provide(:title, "About") %>
<h1>About</h1>
<p>Established in 1974, Griffith College is Ireland's largest independent third level institution with over 7,000 students ai its campuses in Dublin, Cork and Limerick.</p>
